= form_for @post do |f|
  - if @post.errors.any?
    #error_explanation
      h2 = "#{pluralize(@post.errors.count, "error")} prohibited this post from being saved:"
      ul
        - @post.errors.full_messages.each do |message|
          li = message
  =f.label :title
  =f.text_field :title
  =f.label :field
  =f.text_field :field
  =f.label :description
  =f.text_area :description, maxlength:'100'
  =f.label :content
  =f.text_area :content, :class => 'ckeditor'
  =f.file_field :picture
  = f.submit class:"tiny button btt-send"
